body {
  background: url("/images/gb-bg.jpg");
  background-repeat: no-repeat;
}
#logo {
  height: 100px;
  width: 300px;
  background: url("/images/gb-logo.png");
  background-repeat: no-repeat;
}
table {
  width: 100%;
  color: #FFF;
  font-size: 18px;
}
#top-spacer {
  height: 50px;
}
#blueCol {
  background-color: #5CADFF;
}
#greenCol {
  background-color: #70DB70;
}
#orangeCol {
  background-color: #FFAD5C;
}
th {
  color: black;
}
.tablerow:hover {
  opacity: 0.5;
}
.cardTitle {
  height: 20px;
  width: 100px;
}
.cardText {
  height: 80px;
  width: 200px;
}
.cardInput {
  padding-right: 10px;
  float: left;
}
.cardText {
  text-align: top;
}
.inputLabel {
  font-size: 12px;
}
input, label {
  display: block;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 850px;
  height: 300px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

p {
		font-size: 22px;
		font-weight: bold;
		font-style: italic;
		color: rgb(62, 62, 62);
		margin: 18px;
	}
ul {
		float: left;
    width: 100%;
		padding: 7px 11px;
		background-color: none;
	}
li {
		float: left;
		background-color: rgb(200,200,200);
		padding: 5px 19px;
		margin: 5px 2px 5px 0px;
		color: black;
		list-style: none;
	}
li:hover, li:hover a {
    opacity: 0.8;
		color:white;
	}
li a {
		text-decoration: none;
		color: white;
		font-size: 21px;
		font-style: italic;
		text-shadow: 1px 0px 3px rgb(157, 157, 157);
	}
li:nth-child(1) { border-radius: 4px 0px 0px 4px; margin-left: 1px;}
li:nth-child(3) { border-radius: 0px 4px 4px 0px;}
	.active {
		background-color: #5CADFF;
	}

.imageSelector {
  width: 100px;
}
.soundSelector {
  width: 100px;
}
.cardEditing {
  padding-left: 15px;
}

.saveButton {
  width: 30px;
  height: 30px;
  float: right;
}
.playSound {
  width: 50px;
  height: 50px;
}
.playSound:hover {
  cursor: pointer;
}
.savebutton:hover {
  opacity: 0.8;
}

.fileUploading {
  padding-left: 30px;
}

.previewImage {
  width: 80px;
  height: 100px;
}

.hasPreview {
  width: 110px;
}
.verticalSpacer {
  height: 20px;
}
